* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #cfefff, #a8d8ff);
    font-family: 'Segoe UI', sans-serif;
}

header {
    background-color: #114b73;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

main div:nth-child(odd){
    transform: translateX(30%);
    justify-content: flex-end;
}

main div:nth-child(even){
    transform: translateX(-30%);
    justify-content: flex-start;
}

main div{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 20% contain 10%;
    animation-fill-mode: both;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.2;
    }

    to{
        opacity: 1;
        scale: 1;
        transform: translate(0);
    }
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #0a1f33;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 1rem;
}

footer nav a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    padding: 0px 80px;
}

footer a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

footer i {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}