*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #cfefff, #a8d8ff);
}

header{
    background-color: #114b73;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

header h1{
    font-size: 2.5em;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

main{
    margin-top: -10px;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccion1 {
    background-color: rgb(16, 67, 208);
    color: white;
    margin: 10px 0;
    font-size:12px;
}
.seccion1 h2 { 
    background-color: #7fafeb;
    color: rgb(10, 1, 1);
    padding: 10px 15px;
    margin: 10px;
}

.seccion2 {
    background-color: rgb(232, 234, 112);
    margin: 10px 0;
    font-size:12px;
    
}
.seccion2 h2{
    border: 2px solid black;
    padding: 10px 20px;
    margin: 10px;
}
.seccion3{
    background-color: rgb(231, 150, 20);
    margin: 10px 0;
    font-size:12px
}
.seccion3 h2 {
    border: 2px solid black;
    padding: 10px 20px;
    margin: 10px;
    background-color: #1498ccd5;
}

footer{
    background-color: #0a1f33;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: -10px;
}

footer nav{
    display:flex;
    justify-content: center;
    gap: 16px;
    padding: 1rem;
}

footer nav a{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    padding: 0px 80px;
}

footer a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

footer i{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}