*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: auto;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #cfefff, #a8d8ff);
}

header{
    background-color: #114b73;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

header h1{
    font-size: 2.5em;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

main{
    margin: 0 auto;
}

section{
    width: 100%;
    height: 35vh;
    margin: auto;
}

p{
    border: 1px solid #2f365f;
  margin: 0.7rem 0;
  padding: 0.7rem;
}

.light{
    font-weight: light;
}

.regular{
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.normal{
    font-style: normal;
}

.oblique{
    font-style: oblique;
}

.variant{
    font-variant: small-caps;
}

.decoration{
    text-decoration: underline;
}

.indent{
    text-indent: 40px;
}

.word{
    letter-spacing: 5px
}

footer{
    background-color: #0a1f33;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 0px;
}

footer nav{
    display:flex;
    justify-content: center;
    gap: 16px;
    padding: 1rem;
}

footer nav a{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    padding: 0px 80px;
}

footer a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

footer i{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}